<h1>Welcome to Quiz World</h1>

<h3>It's full of happy and sad quizzes! :) :(</h3>

<button class="btn btn-default"><a href="/quizzes">View All Quizes</a></button>

<form action="/quizzes" method="post">
  <label for="name">Give your quiz a name:</label>
  <input id="name" name="name" type="text">

  <button type ="submit" class="btn btn-default">Add your quiz!</button>
</form>
