<h1><%= quiz.name() %></h1>

<% if @quiz.questions().any? %>

  <% @quiz.questions.each do |question|
    <li><a href='/question/<%= question.id() %>'><%= question.question() %></a></li>
    <% end %>

<% else %>

<p> There are no questions for this quiz. Add questions below. </p>

<% end %>

<form action='/quiz/<%= @quiz.id() %>' method='post'>

  <div class='form-group'>
    <label for='question'>Add a Question</label>
    <input id='question' name='question' class='form-control' type='text'>
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
